nav > ul{
    display: flex;
}

nav > ul > li{
    display: flex;
    margin-right: 15px;
    padding: 5px;
}

nav li{
    list-style: none;
}

nav li > a{
    margin:5px 50px;
    text-decoration: none;
    color: rgb(248, 120, 14);
}

nav li:hover{
    background-color:rgb(171, 175, 180) ;
    border-radius: 25px;
}